<% provide(:articles, 'active') %>
<% provide(:title, 'Articles') %>

<div class="container-fluid"> 
  <div class="row">

    <div class="col-sm-12 col-md-12">

    <div class="container">
      <div class="page-header">
        <h2 class="articles-header">Articles</h2>
      </div>

      <% if permitted_to? :new, :articles %>
        <p>
          <%= button_to new_article_path, method: :get, params: { author: true }, class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-plus"></span>
            Add article
          <% end %>
        </p>
      <% end %>

      <div class="row">
        <div class="col-sm-12 col-md-12">
          <% if @articles.empty? %>
            <b>No articles</b>
          <% else %>

            <div class="table-responsive">
              <table class="table ">
                <tbody id="articles">
                  <%= render partial: "article", :collection => @articles, :as => :article %>
                </tbody>
              </table>
            </div>
            <div id="paginator", class="paginate-centre"><%= paginate @articles, :remote => true %></div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>