// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#article_title {
  font-weight: bold;
}

.articles-header {
  font-family: serif sans-serif;
  color: #622100;
  font-size: 35px;
  text-align: center;
}