// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article_title {
  font-weight: bold;
  font-family: serif sans-serif;
  font-size: 30px;
  a:link {
    font-weight: bold;
    font-family: serif sans-serif;
    font-size: 17px;
  }
}

.articles-header {
  font-family: serif sans-serif;
  color: #622100;
  font-size: 35px;
  text-align: center;
}

.article-author-date {
  color: #686868;
  font-weight: bold;
  font-family: serif sans-serif;
  .author {
    color: #0099CC;
  }
}