.article-user {
  float: left;
  color: #0099CC;
  font-weight: bold;
  .by {
    color: #686868;
  }
}

.article-comment-count {
  text-align: right;
  color: #0099CC;
  font-family: serif sans-serif;
}
