// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#empty-body {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.comments {
  background: #E8E8E8 ;
  border: 2px solid #C8C8C8;
}

#user-comment {
  color: #246B47;
  font-weight: bold;
  font-size: 15px;
}

#comment-date {
  color: #888888;
  font-size: 15px;
}

#count_comment {
  color: red;
  font-family: serif sans-serif;
}
